<%- include('partials/header'); -%>
<style>
.card:hover {
  background: rgb(255, 255, 255);
  border-top-right-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 0 20px 26px rgba(204, 204, 204, 0.568);
  transition: all 0.3s ease-out;
  text-decoration: none;
}

.card:hover .overlay {
  box-shadow: 0 24px 36px rgba(98, 0, 255, 0.897);
  transform: scale(4) translateZ(0);
}

.card:hover .circle {
  border-color: var(--bg-color-light);
  background: var(--bg-color);
  box-shadow: 0 24px 36px rgba(98, 0, 255, 0.897);
}

.card:hover .circle:after {
  background: var(--bg-color-light);
}

.card:hover p {
  color: var(--text-color-hover);
}

.card:active {
  transform: scale(1) translateZ(0);
  box-shadow: 0 15px 24px rgba(228, 2, 2, 0.774),
    0 15px 24px var(--box-shadow-color);
}

.card p {
  font-size: 17px;
  color: #4c5656;
  margin-top: 30px;
  z-index: 1000;
  transition: color 0.3s ease-out;
}

</style>

<div class="slider">
  <div class="title">
    <h1>Welcome <br /><span>We are Brunch</span></h1>
    <h3>
      Civil property <span>look </span> and <span>draw</span> over by your hand
    </h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, tempora!
    </p>
    <a href="#" class="btn">Register Your property</a>
    <a href="#" class="btn">Look Our Projects</a>
  </div>
</div>
<div class="container"></div>
<div class="pl-5 pt-5">
  <h4 class="text-danger font-weight-bold">Build your profile</h4>
  <h2 class="font-weight-bold">Select your property type</h2>
</div>

<div class="container-fluid">
  <div class="truecontainer">
    <div class="row">
      <div class="col-sm">
        <div class="card mb-4 border-0" style="width: 18rem">
          <div class="mx-auto d-block">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              aria-hidden="true"
              role="img"
              width="100"
              height="100"
              preserveAspectRatio="xMidYMid meet"
              viewBox="0 0 64 64"
            >
              <path fill="#bbbcbe" d="M6.06 57.511h52.01v4.05H6.06z" />
              <path fill="#633d19" d="M13.495 11.57h6.741v11.669h-6.741z" />
              <path fill="#f0ca93" d="M6.06 55.485h52.01v4.054H6.06z" />
              <g fill="#992c3e">
                <path
                  d="M9.561 27.879l-3.146.934l-2.623 2.166l-2.6 3.11h7.3z"
                />
                <path
                  d="M54.387 27.879l3.14.934l2.62 2.166l2.609 3.11h-7.299z"
                />
              </g>
              <path
                d="M40.057 56.299c.573 0 1.041.541 1.041 1.206c0 .674-.468 1.21-1.041 1.21H23.75c-.575 0-1.041-.536-1.041-1.21c0-.665.465-1.206 1.041-1.206h16.307"
                fill="#bbbcbe"
              />
              <path
                d="M41.107 58.717c.655 0 1.19.546 1.19 1.216c0 .665-.535 1.21-1.19 1.21H22.521c-.653 0-1.185-.545-1.185-1.21c0-.67.532-1.216 1.185-1.216h18.586"
                fill="#999"
              />
              <path
                d="M42.277 61.139c.731 0 1.323.546 1.323 1.211s-.592 1.211-1.323 1.211H21.556c-.729 0-1.321-.546-1.321-1.211s.592-1.211 1.321-1.211h20.721"
                fill="#7c7d7e"
              />
              <path
                fill="#e7e5e5"
                d="M7.465 29.548l24.582-19.512l24.622 19.512v26.611h-49.2z"
              />
              <path
                fill="#d1d2d2"
                d="M16.456 56.159H7.465v-27.24l23.952-18.883l1.167.654l-16.13 18.547z"
              />
              <g fill="#df394c">
                <path
                  d="M32.728 9.431c.39.628.177 1.525-.461 2L2.047 33.798c-.64.477-1.477.349-1.864-.28c-.385-.633-.177-1.531.465-2l30.22-22.371c.64-.471 1.477-.343 1.862.288"
                />
                <path
                  d="M31.257 9.431c-.385.628-.174 1.525.466 2l30.22 22.368c.645.477 1.477.349 1.864-.28c.388-.633.179-1.531-.464-2L33.123 9.148c-.645-.472-1.48-.344-1.865.287"
                />
              </g>
              <path
                d="M37.347 56.494v-9.06c0-3.215-2.366-5.811-5.282-5.811c-2.921 0-5.283 2.596-5.283 5.811v9.06h10.565"
                fill="#4e6b78"
              />
              <path
                d="M33.767 41.939a4.81 4.81 0 0 0-1.699-.312c-2.921 0-5.283 2.596-5.283 5.811v9.06h3.396v-9.06c0-2.559 1.499-4.724 3.586-5.499"
                fill="#405967"
              />
              <path
                d="M21.966 11.121c0 .599-.571 1.084-1.277 1.084h-7.493c-.706 0-1.277-.486-1.277-1.084c0-.599.571-1.084 1.277-1.084h7.493c.706 0 1.277.485 1.277 1.084"
                fill="#df394c"
              />
              <g fill="#28a6de">
                <path
                  d="M22.057 46.129c0 1.242-1.068 2.251-2.387 2.251h-6.48c-1.318 0-2.389-1.01-2.389-2.251v-9.01c0-1.243 1.071-2.251 2.389-2.251h6.48c1.318 0 2.387 1.01 2.387 2.251v9.01"
                />
                <path
                  d="M53.157 45.694c0 1.243-1.068 2.252-2.389 2.252h-6.479c-1.321 0-2.388-1.01-2.388-2.252v-9.01c0-1.248 1.066-2.252 2.388-2.252h6.479c1.32 0 2.389 1 2.389 2.252v9.01"
                />
              </g>
            </svg>
          </div>

          <div class="card-body">
            <h5 class="card-title text-center font-weight-bold">
              Individual Society
            </h5>
            <p class="card-text text-center">
              Work like you don't need the moneye like you've nhurike nobody's
              watching
            </p>
            <div class="container text-center">
              <a style="color: red" class="inline_block" href="/Home">
                Learn More
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card mb-4 border-0" style="width: 18rem">
          <div class="mx-auto d-block">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              aria-hidden="true"
              role="img"
              width="100"
              height="100"
              preserveAspectRatio="xMidYMid meet"
              viewBox="0 0 128 128"
            >
              <path
                fill="#de7541"
                d="M42.22 41.58V30.96l-.86.05v-6.54l8.25-.05v6.44h-.85v6.24z"
              />
              <path
                fill="#fff3e1"
                d="M63.86 29.84L42.99 49.86l.98 24.6l42.25-.28l-.44-26.04z"
              />
              <path
                d="M42.19 74.64l2.03-1.22V49.39l-1.89 1.37s.21 23.88-.14 23.88z"
                fill="#5f4e47"
              />
              <path fill="#5f4e47" d="M84.2 50.26v23.36l2.24 1.26V51.13z" />
              <path
                fill="#bda890"
                d="M64.37 31.22L42.34 51.9l-.13-5.61l22.5-21.32l21.75 22.52l-.02 5z"
              />
              <path
                d="M40.09 45.3l-1.22 3.25l3.4.04S64.01 27.32 64.48 27.3c.57-.02 21.96 21.19 21.96 21.19l3.04.02l-23.65-25.74l-3.44-.23l-22.3 22.76z"
                fill="#904625"
              />
              <path
                d="M35.94 46.93c-.66.63-.28 1.54.32 1.59c.62.05 3.55.04 3.55.04l23.66-23.92s.55-.56.94-.54c.42.02.97.55.97.55l23.89 23.83s1.77.04 2.33.01c.92-.06 1.11-1.11.07-2.03c-.47-.42-24.18-24.01-24.58-24.43c-1.18-1.22-1.76-1.93-2.88-1.89c-1.12.05-1.79.88-2.91 1.91c-.35.31-25.19 24.71-25.36 24.88z"
                fill="#dc7540"
              />
              <path
                d="M56.9 72.49s.09-14.22.17-17.53c.08-3.31 3.19-5.96 6.78-6.05c4.59-.11 6.74 2.66 6.91 5.89c.16 3.23.16 17.68.16 17.68l-14.02.01z"
                fill="#d27857"
              />
              <path
                d="M66.63 62.52c-.03.89.33 1.61 1.38 1.61s1.44-.49 1.51-1.45c.07-.86-.53-1.61-1.51-1.55s-1.35.76-1.38 1.39z"
                fill="#ffba02"
              />
              <path
                d="M60.16 44.79s.07-3.81.11-5.62c.04-1.81 1.74-3.26 3.71-3.31c2.41-.06 3.69 1.45 3.78 3.22c.09 1.77.07 5.7.07 5.7l-7.67.01z"
                fill="#a6cfd6"
              />
              <path
                fill="#ab5832"
                d="M11.16 73.63V63.36l-.82.05v-6.33l7.98-.05v6.23h-.83v6.04z"
              />
              <path
                fill="#ede0d6"
                d="M33.18 61.86L10.97 83.18l-.03 25.12l44.97-.3l.6-26.66z"
              />
              <path
                d="M10.11 109.66l2.2-.18l-.03-26.82l-2.02 1.46c0 .01-.14 25.19-.15 25.54z"
                fill="#5f4e47"
              />
              <path
                fill="#5f4e47"
                d="M54.84 83.59l-.15 24.84l2.53 1.48V84.52z"
              />
              <path
                fill="#bcafaa"
                d="M33.73 63.33l-23.5 22.05l-.01-6.1l23.86-22.61l23.16 23.98l-.02 5.32z"
              />
              <path
                d="M7.88 78.31l-.27 3.51l2.62-.02s23.11-22.63 23.61-22.65c.61-.03 23.38 22.63 23.38 22.63l3.07.02l-25.01-27.46l-3.66-.24L7.88 78.31z"
                fill="#7f4935"
              />
              <path
                d="M3.5 80.07c-.7.68-.3 1.7.33 1.73c.56.02 3.81.02 3.81.02L32.8 56.34s.58-.6 1-.58c.45.02 1.03.59 1.03.59L60.21 81.8s1.89.02 2.52.04c.81.03 1.07-1.15-.03-2.13c-.5-.45-25.62-25.71-26.05-26.15c-1.26-1.3-1.88-2.06-3.07-2.01c-1.19.05-1.9.93-3.1 2.03c-.35.33-26.8 26.31-26.98 26.49z"
                fill="#bb8064"
              />
              <path
                d="M25.77 108.33s.09-16.2.18-19.72s3.39-6.35 7.22-6.44c4.88-.12 7.18 2.83 7.35 6.27c.17 3.44.17 19.88.17 19.88l-14.92.01z"
                fill="#865c51"
              />
              <path
                d="M36.13 96.65c-.04.95.35 1.72 1.47 1.72s1.53-.53 1.61-1.54c.07-.91-.56-1.72-1.61-1.65s-1.44.8-1.47 1.47z"
                fill="#ffb700"
              />
              <path
                fill="#beb4ac"
                d="M10.11 109.67l2.19-1.94l42.38-.01l2.54 2.2z"
              />
              <path
                d="M29.25 77.77s.07-4.06.12-5.98s1.85-3.47 3.95-3.52c2.57-.06 3.93 1.55 4.02 3.43c.1 1.88.08 6.07.08 6.07h-8.17z"
                fill="#6ca4ae"
              />
              <path
                fill="#ab5832"
                d="M110.19 73.68V63.41l-.83.04v-6.33l7.98-.04v6.23h-.82v11.04z"
              />
              <path
                fill="#f5e1d1"
                d="M94.14 62.07L71.93 83.39l1.44 25.83l43.69.34l.42-28.01z"
              />
              <path
                d="M71.02 110.3l2.22-.84V82.88l-2.02 1.46s.17 25.96-.2 25.96z"
                fill="#5f4e47"
              />
              <path
                fill="#5f4e47"
                d="M115.8 83.81l.01 25.59l2.38 1.17l-.01-25.84z"
              />
              <path
                fill="#d2a67c"
                d="M94.69 63.54L71.23 86.35l-.05-6.86l23.87-22.61l23.15 23.98l-.02 5.32z"
              />
              <path
                d="M68.84 78.52l-.42 3.4l2.78.09s23.11-22.63 23.61-22.65c.61-.03 23.39 22.56 23.39 22.56l3.05.02l-25.01-27.39l-3.66-.24l-23.74 24.21z"
                fill="#893f2e"
              />
              <path
                d="M64.46 80.28c-.61.6-.34 1.53.37 1.58c.39.03 3.6.06 3.6.06l25.33-25.37s.58-.6 1-.58c.45.02 1.03.59 1.03.59l25.46 25.38s1.96.01 2.43-.01c.97-.04 1.29-.96.1-2.16c-.47-.47-25.74-25.56-26.16-26c-1.26-1.3-1.88-2.06-3.07-2.01c-1.19.05-1.9.93-3.1 2.03c-.36.33-26.8 26.31-26.99 26.49z"
                fill="#c67260"
              />
              <path
                d="M86.74 108.54s.09-16.2.18-19.72c.09-3.52 3.39-6.35 7.22-6.44c4.88-.12 7.18 2.83 7.35 6.27c.17 3.44.17 19.88.17 19.88l-14.92.01z"
                fill="#ab5832"
              />
              <path
                d="M97.1 96.86c-.04.95.35 1.72 1.47 1.72s1.53-.53 1.61-1.54c.07-.91-.56-1.72-1.61-1.65c-1.05.07-1.45.8-1.47 1.47z"
                fill="#feb800"
              />
              <path
                fill="#d4a37d"
                d="M71.07 110.31l2.12-1.95l42.62.01l2.37 2.19z"
              />
              <path
                d="M90.21 77.98s.07-4.06.12-5.98s1.85-3.47 3.95-3.52c2.57-.06 3.93 1.55 4.02 3.43c.1 1.88.08 6.07.08 6.07h-8.17z"
                fill="#6ca4ae"
              />
            </svg>
          </div>
          <div class="card-body">
            <h5 class="card-title text-center font-weight-bold">
              Society Groups
            </h5>
            <p class="card-text text-center">
              Work like you don't need the moneye like you've nhurike nobody's
              watching
            </p>
            <div class="container text-center">
              <a style="color: red" class="inline_block" href="/Home">
                Learn More
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card mb-4 border-0" style="width: 18rem">
          <div class="mx-auto d-block">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              aria-hidden="true"
              role="img"
              width="100"
              height="100"
              preserveAspectRatio="xMidYMid meet"
              viewBox="0 0 512 512"
            >
              <path
                fill="#BFBCAF"
                d="M484.785 215.417H353.282a3.845 3.845 0 0 0-3.845 3.845v167.926a3.845 3.845 0 0 0 3.845 3.845h131.503a3.845 3.845 0 0 0 3.845-3.845V219.262a3.844 3.844 0 0 0-3.845-3.845z"
              />
              <path
                fill="#A8A8A8"
                d="M323.43 136.439H152.171a4.278 4.278 0 0 0-4.278 4.278v246.038a4.278 4.278 0 0 0 4.278 4.278H323.43a4.278 4.278 0 0 0 4.278-4.278V140.717a4.278 4.278 0 0 0-4.278-4.278z"
              />
              <path
                fill="#8E6049"
                d="M487.908 392.44a2.57 2.57 0 0 1-2.57-2.57v-72.498a2.57 2.57 0 1 1 5.14 0v72.498a2.57 2.57 0 0 1-2.57 2.57zm-315.718-5.967v-71.729a7.89 7.89 0 1 0-15.778 0v71.729a7.89 7.89 0 1 0 15.778 0z"
              />
              <path
                fill="#597B91"
                d="M131.65 239.588a3.822 3.822 0 0 0-3.822-3.822H8.642a3.822 3.822 0 0 0-3.822 3.822v73.901c0 .531.108 1.572.304 2.833a3.814 3.814 0 0 0-.304 1.495v69.395a3.822 3.822 0 0 0 3.822 3.822h119.186a3.822 3.822 0 0 0 3.822-3.822v-69.395c0-.531-.109-1.036-.304-1.495c.196-1.261.304-2.302.304-2.833v-73.901z"
              />
              <path
                fill="#2B3B47"
                d="M390.579 306.192h-15.218a7.035 7.035 0 0 1-7.035-7.035v-31.946a7.035 7.035 0 0 1 7.035-7.035h15.218a7.035 7.035 0 0 1 7.035 7.035v31.946a7.035 7.035 0 0 1-7.035 7.035zm78.417-7.034v-31.946a7.035 7.035 0 0 0-7.035-7.035h-15.218a7.035 7.035 0 0 0-7.035 7.035v31.946a7.035 7.035 0 0 0 7.035 7.035h15.218a7.035 7.035 0 0 0 7.035-7.035zM221.59 260.827v-50.121c0-6.096-4.941-11.037-11.037-11.037h-23.877c-6.096 0-11.037 4.941-11.037 11.037v50.121c0 6.096 4.941 11.037 11.037 11.037h23.877c6.096-.001 11.037-4.942 11.037-11.037zm72.589 61.541h-52.1v68.586h52.1v-68.586zm-185.823-22.029v-30.544a6.726 6.726 0 0 0-6.726-6.726H87.079a6.726 6.726 0 0 0-6.726 6.726v30.544a6.726 6.726 0 0 0 6.726 6.726h14.551a6.726 6.726 0 0 0 6.726-6.726zm0 63.589v-30.544a6.726 6.726 0 0 0-6.726-6.726H87.079a6.726 6.726 0 0 0-6.726 6.726v30.544a6.726 6.726 0 0 0 6.726 6.726h14.551a6.726 6.726 0 0 0 6.726-6.726zM5.882 244.375h124.705c3.871 0 5.388-5.023 2.163-7.166l-62.352-28.057a3.908 3.908 0 0 0-4.326 0L3.719 237.209c-3.225 2.142-1.708 7.166 2.163 7.166z"
              />
              <path
                fill="#8E7B70"
                d="M363.926 303.125v1.046a5.823 5.823 0 0 1 5.823-5.823h26.443a5.823 5.823 0 0 1 5.823 5.823v-1.046a5.823 5.823 0 0 1-5.823 5.823h-26.443a5.823 5.823 0 0 1-5.823-5.823zm78.694 5.823h24.954a5.823 5.823 0 0 0 5.823-5.823v1.046a5.823 5.823 0 0 0-5.823-5.823H442.62a5.823 5.823 0 0 0-5.823 5.823v-1.046a5.823 5.823 0 0 0 5.823 5.823z"
              />
              <path
                fill="#597B91"
                d="M346.578 225.093h144.911c5.368 0 6.865-7.368 1.922-9.462l-72.561-35.453a4.922 4.922 0 0 0-3.844 0l-72.349 35.453c-4.944 2.094-3.447 9.462 1.921 9.462z"
              />
              <path
                fill="#FF473E"
                d="M133.957 136.043l97.125-64.523a6.09 6.09 0 0 1 6.739 0l97.125 64.523c5.023 3.337 2.66 11.162-3.37 11.162H137.327c-6.03 0-8.393-7.825-3.37-11.162zm165.987 199.583c4.701 0 8.061-4.421 7.004-9.001c-4.08-17.668-19.911-30.839-38.819-30.839s-34.739 13.171-38.819 30.839c-1.058 4.581 2.302 9.001 7.004 9.001h63.63z"
              />
              <path
                fill="#009E83"
                d="M441.081 391.034h-44.095v-51.823a7.741 7.741 0 0 1 7.741-7.741h28.612a7.741 7.741 0 0 1 7.741 7.741v51.823zm46.827-56.454c-10.597 0-19.188 8.591-19.188 19.188s8.591 19.188 19.188 19.188s19.188-8.591 19.188-19.188s-8.591-19.188-19.188-19.188zm0-32.084c-7.141 0-12.93 5.789-12.93 12.93s5.789 12.93 12.93 12.93s12.93-5.789 12.93-12.93c-.001-7.141-5.789-12.93-12.93-12.93zm-322.233-36.578a4.52 4.52 0 0 0-5.681 2.934l-1.236 3.876c-.404 1.233-.839 2.731-1.364 4.449a291.363 291.363 0 0 0-1.706 5.77c-.603 2.114-1.291 4.405-1.956 6.828l-2.096 7.621c-.746 2.643-1.417 5.374-2.154 8.149c-.715 2.775-1.479 5.594-2.174 8.413l-2.072 8.413c-.677 2.775-1.376 5.506-1.97 8.149l-3.345 14.448c-1.007 4.229-1.148 7.753-.921 10.219c.209 2.467.773 3.876.773 3.876c2.602 6.446 7.762 11.943 14.726 14.726c13.547 5.413 28.917-1.18 34.33-14.726c0 0 .563-1.41.773-3.876c.227-2.467.087-5.991-.921-10.219l-3.345-14.448c-.594-2.643-1.292-5.374-1.97-8.149l-2.072-8.413c-.695-2.819-1.459-5.638-2.174-8.413c-.736-2.775-1.408-5.506-2.154-8.149l-2.096-7.621c-.665-2.423-1.352-4.713-1.956-6.828a289.374 289.374 0 0 0-1.706-5.77c-.525-1.718-.96-3.216-1.364-4.449l-1.236-3.876a4.56 4.56 0 0 0-2.933-2.934z"
              />
              <path
                fill="#76DFFF"
                d="M43.018 341.478h-.384c-10.502 0-19.016 8.514-19.016 19.016v30.54h38.416v-30.54c0-10.502-8.514-19.016-19.016-19.016z"
              />
              <circle fill="#FFF" cx="407.114" cy="366.651" r="3.596" />
            </svg>
          </div>
          <div class="card-body">
            <h5 class="card-title text-center font-weight-bold">
              Individual Property
            </h5>
            <p class="card-text text-center">
              Work like you don't need the moneye like you've nhurike nobody's
              watching
            </p>
            <div class="container text-center">
              <a style="color: red" class="inline_block" href="/Home">
                Learn More
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card mb-4 border-0" style="width: 18rem">
          <div class="mx-auto d-block">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              aria-hidden="true"
              role="img"
              width="100"
              height="100"
              preserveAspectRatio="xMidYMid meet"
              viewBox="0 0 128 128"
            >
              <linearGradient
                id="ssvg-id-factorya"
                gradientUnits="userSpaceOnUse"
                x1="31.515"
                y1="7.821"
                x2="37.452"
                y2="35.575"
              >
                <stop offset=".368" stop-color="#e0e0e0" />
                <stop offset=".616" stop-color="#c8c8c8" />
                <stop offset=".777" stop-color="#b6b6b6" />
              </linearGradient>
              <path
                d="M31.28 36.83s-1.18-6.21 3-10.16s7.6-3.1 12.88-5.97c5.07-2.75 8.06-7.84 7.25-8.42c-.81-.59-1.8.98-5.86 1.54c-4.76.66-11.49.12-18.68.73c-7.87.66-12.92 2.86-15.27 9.13c-2.01 5.37 1.51 11.59 1.51 11.59l15.17 1.56z"
                opacity=".7"
                fill="url(#ssvg-id-factorya)"
              />
              <linearGradient
                id="ssvg-id-factoryb"
                gradientUnits="userSpaceOnUse"
                x1="67.667"
                y1="9.75"
                x2="73.092"
                y2="35.109"
              >
                <stop offset=".415" stop-color="#e0e0e0" />
                <stop offset=".635" stop-color="#c8c8c8" />
                <stop offset=".777" stop-color="#b6b6b6" />
              </linearGradient>
              <path
                d="M52.36 35.16s-2.46-7.81 1.71-13.05c3.98-5.01 8.15-6.09 15.73-6.95c8.57-.97 11.66-.43 14.6-1.36c1.36-.43 4-2.02 4.64-1.16c.64.86-2.63 6.79-9.91 10.22c-6.23 2.93-8.76 4.46-9.62 8.1c-.74 3.16-1.28 5.13-1.28 5.13l-15.87-.93z"
                opacity=".7"
                fill="url(#ssvg-id-factoryb)"
              />
              <path
                d="M32.83 39.43s1.17-.62 1.09-2.93c-.08-1.99-1.57-2.61-2.63-2.68c-1.06-.07-15.26-.14-15.97-.14s-2.2.78-2.27 3.12c-.06 1.99 1.28 2.63 1.28 2.63l-3.34 28.53L22.2 79.8l14.55.35l-3.92-40.72z"
                fill="#cc1935"
              />
              <path
                d="M51.18 39.46s-1.4-.8-1.29-2.99c.1-2.11 1.61-2.75 2.18-2.75s16.71.07 17.28.12c.64.05 1.61.98 1.57 2.94c-.04 2-1.45 2.84-1.45 2.84l4.69 41.83l-25.49-11.73l2.51-30.26z"
                fill="#cc1935"
              />
              <path
                d="M13.67 44.94l19.69.01l.77 8.02l-21.4-.01c.01.01.94-8.1.94-8.02z"
                fill="#f1edec"
              />
              <path
                fill="#f1edec"
                d="M11.54 63.24l23.59.05l.79 8.25l-25.53.04z"
              />
              <path fill="#f1edec" d="M50.71 45l19.36.03l.88 7.78l-20.89.01z" />
              <path fill="#f1edec" d="M49.22 63l22.88.04l.96 8.54l-24.63.08z" />
              <path
                d="M4.19 85.46l.02-20.16c0-1 .82-1.1 1.57-.85c.75.25 2.06 1.04 2.06 1.04l10.82 17.13l21.01-1.06s.16-16.08.16-17.14c0-1.06 1.13-.8 1.82-.49c.69.31 1.85.95 1.85.95l5.23 25.75L6.5 89.37l-2.31-3.91z"
                fill="#848486"
              />
              <path
                fill="#b2b2b2"
                d="M7.77 85.49l.07-20.01l31.83 16.07l.06 5.53l-31.79.02z"
              />
              <path
                fill="#b2b2b2"
                d="M42.93 86.86l.6-1.4l-.12-20.64l37.65 18.82V25.09h42.77v94.31l-21.73 1.62l-28.53.15z"
              />
              <path
                d="M80.23 119.58l9.3.03V88.02c0-1.3.48-2.09 2.09-2.09h22.46c1.16 0 2.05.65 2.05 2.91v30.57l7.69-.01s-.04 2.3-.11 3.05c-.07.82-.21 1.37-1.85 1.37l-43.05-.02l1.42-4.22z"
                fill="#848486"
              />
              <path
                d="M90.17 81.11V26.55l11.5-2.85l13.09 3.17v54.14s-24.74-.05-24.59.1z"
                fill="#f2eeed"
              />
              <path fill="#a7d0d6" d="M93.45 30.04h18.08v13.77H93.45z" />
              <path fill="#a7d0d6" d="M93.55 47.24h17.94V61.7H93.55z" />
              <path fill="#a7d0d6" d="M93.45 65.07h18.05v12.77H93.45z" />
              <path
                d="M78.86 21.55c-.3.25-.23 5.55.15 5.55c.39 0 46.01.35 46.36 0c.35-.35.23-5.25-.08-5.63c-.15-.19-10.9-.23-21.98-.15c-12 .08-24.2.03-24.45.23z"
                fill="#848486"
              />
              <path fill="#f6b99d" d="M71.92 85.47h9.06v34.79h-9.06z" />
              <path fill="#e14536" d="M4.18 85.46h73.81v35.1H4.18z" />
              <path fill="#f6b99d" d="M39.72 85.45h3.8v36.41h-3.8z" />
              <path
                d="M80.98 119.57l-76.84.27v2.14c0 .69.14 1.72 1.65 1.83s75.15 0 75.15 0s.07-4.16.04-4.24z"
                fill="#a41916"
              />
              <path
                d="M16.52 97.03c.04.85.05 8.28.05 8.98c0 1.15.65 1.66 1.86 1.71c1.25.05 8.53.02 9.28-.05c1.15-.1 1.15-1.35 1.1-2.31c-.05-.95-.05-7.58-.05-8.33s-.38-1.58-1.69-1.58c-1.3 0-8.59-.06-9.25-.03c-.55.03-1.35.4-1.3 1.61z"
                fill="#f1ebee"
              />
              <path
                d="M56.65 95.57c-1.2.05-1.42.89-1.42 1.84c0 .95-.1 7.43-.05 8.19c.05.71.26 1.96 1.57 1.91s8.13.23 9.28.1c1.48-.16 1.25-1.46 1.29-2.36c.05-1.1.06-6.93.09-7.88c.03-1.16-.48-1.79-1.73-1.79s-7.93-.06-9.03-.01z"
                fill="#f1ebee"
              />
              <path fill="#a7d0d6" d="M57.28 97.46h8v8.08h-8z" />
              <path fill="#a7d0d6" d="M18.44 97.53h8.36v8.08h-8.36z" />
            </svg>
          </div>
          <div class="card-body">
            <h5 class="card-title text-center font-weight-bold">Comercial</h5>
            <p class="card-text text-center">
              Work like you don't need the moneye like you've nhurike nobody's
              watching
            </p>
            <div class="container text-center">
              <a style="color: red" class="inline_block" href="/Home">
                Learn More
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="LatestProject">
      <div class="pl-5">
        <h4 style="color:#f00;" class="">Projects</h4>
        <h2 class="">Our Letest Project</h2>
      </div>
      <div class="container-fluid">
        <div class="pl-5">
          <div class="row">
            <div class="col-3 p-2 col-md-4">
              <div class="containr">
                <img
                  class="image"
                  src="https://images.pexels.com/photos/8134754/pexels-photo-8134754.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                  alt="..."
                  class="img-fluid"
                />
                <div class="middle">
                  <div class="text">Sahil</div>
                </div>
              </div>
            </div>
            <div class="col-3 p-2 col-md-4">
              <div class="containr">
                <img
                  class="image"
                  src="https://images.pexels.com/photos/8134754/pexels-photo-8134754.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                  alt="..."
                  class="img-fluid"
                />
                <div class="middle">
                  <div class="text">Yogesh</div>
                </div>
              </div>
            </div>
            <div class="col-3 p-2 col-md-4">
              <div class="containr">
                <img
                  class="image"
                  src="https://images.pexels.com/photos/8134754/pexels-photo-8134754.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                  alt="..."
                  class="img-fluid"
                />
                <div class="middle">
                  <div class="text">Vaibhav</div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-3 p-2 col-md-4">
              <div class="containr">
                <img
                  class="image"
                  src="https://images.pexels.com/photos/8134754/pexels-photo-8134754.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                  alt="..."
                  class="img-fluid"
                />
                <div class="middle">
                  <div class="text">Vaibhav</div>
                </div>
              </div>
            </div>
            <div class="col-3 p-2 col-md-4">
              <div class="containr">
                <img
                  class="image"
                  src="https://images.pexels.com/photos/8134754/pexels-photo-8134754.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                  alt="..."
                  class="img-fluid"
                />
                <div class="middle">
                  <div class="text">Yogesh</div>
                </div>
              </div>
            </div>
            <div class="col-3 p-2 col-md-4">
              <div class="containr">
                <img
                  class="image"
                  src="https://images.pexels.com/photos/8134754/pexels-photo-8134754.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                  alt="..."
                  class="img-fluid"
                />
                <div class="middle">
                  <div class="text">Sahil</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--end-->
  <div class="coolReviews">
    <div class="pl-5 pt-5">
      <h4 class="text-danger font-weight-bold">Reviews</h4>
      <h2 class="font-weight-bold">What Customers Say About us</h2>
    </div>
    <div class="container-fluid">
      <div class="pl-4 pt-3">
        <div class="container-fluid">
          <div class="row g-2">
            <div class="col-6">
              <div class="card" id="card3">
                <div class="card-body">
                  <blockquote class="blockquote mb-0">
                    <p>
                      New Logo Identity Promotional Material Templates Set of
                      graphic designs, illustrations & concepts for corporate
                      materials
                    </p>
                    <footer class="blockquote-footer nav justify-content-end">
                      Rahul hgfiih
                      <cite title="Source Title">Source Title</cite>
                    </footer>
                  </blockquote>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="card" id="card3">
                <div class="card-body">
                  <blockquote class="blockquote mb-0">
                    <p>
                      New Logo Identity Promotional Material Templates Set of
                      graphic designs, illustrations & concepts for corporate
                      materials
                    </p>
                    <footer class="blockquote-footer nav justify-content-end">
                      Rahul hgfiih
                      <cite title="Source Title">Source Title</cite>
                    </footer>
                  </blockquote>
                </div>
              </div>
            </div>
            <div class="col-6 pt-4">
              <div class="card" id="card3">
                <div class="card-body">
                  <blockquote class="blockquote mb-0">
                    <p>
                      New Logo Identity Promotional Material Templates Set of
                      graphic designs, illustrations & concepts for corporate
                      materials
                    </p>
                    <footer class="blockquote-footer nav justify-content-end">
                      Rahul hgfiih
                      <cite title="Source Title">Source Title</cite>
                    </footer>
                  </blockquote>
                </div>
              </div>
            </div>
            <div class="col-6 pt-4">
              <div class="card" id="card3">
                <div class="card-body">
                  <blockquote class="blockquote mb-0">
                    <p>
                      New Logo Identity Promotional Material Templates Set of
                      graphic designs, illustrations & concepts for corporate
                      materials
                    </p>
                    <footer class="blockquote-footer nav justify-content-end">
                      Rahul hgfiih
                      <cite title="Source Title">Source Title</cite>
                    </footer>
                  </blockquote>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    <!--end-->

    <div class="pl-5 pt-5">
      <h4 class="text-danger font-weight-bold">We are Committed</h4>

      <div>
        <div class="row justify-content-start">
          <div class="col-md-4 col-sm-6 my-col">
            <h1
              class="h1-responsive font-weight-bold wow fadeInLeft"
              data-wow-delay="0.3s"
            >
              The road of success is always under construction.
            </h1>
            <p class="Committeddesc" data-wow-delay="0.3s">
              in recognition of your outstanding contribution of time,
              dedication, and expertise to the 2018 World Humanitarian Report.
            </p>

            <p class="Committeddesc" data-wow-delay="0.3s">
              Your help has given countless people around the world a voice -
              the one thing they need most
            </p>
          </div>
          <div class="col-md-8 col-sm-6 my-col">
            <iframe
              width="98%"
              height="500"
              src="https://www.youtube.com/embed/tUwLFnzy3TI"
              frameborder="0"
              allow="accelerometer;   encrypted-media; gyroscope; picture-in-picture"
            ></iframe>
          </div>
        </div>
      </div>
    </div>
    <%- include('partials/footer'); -%>
  </div>
</div>
