<%- include('partials/header'); -%>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<div class="row">
    <div class="col-6">
        <div class="pl-5 pt-5 bg-light">
            <h3 class="text-danger font-weight-bold">Required Documents </h3>
            <br>
            <h5>Rudraksha CHS</h5>
            <br>
            <h5>Blcok no 23 fskl near kedarnath thing, Maharashtra,400068 </h5>
            <br>
            <h5>Contact : +918805078063</h5>
            <br>
            <h5>Status : Applied</h5>
            <br>
        </div>
        <h3 class="pl-5  pt-5 text-danger">First Document Required</h3>
    </div>
    <div class="col">
        <img style="height:500px; width:700px;" src= "https://images.pexels.com/photos/3347244/pexels-photo-3347244.jpeg" />
    </div>
</div>
<%- include('partials/footer'); -%>