<%- include('partials/header'); -%>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<div class="row">
    <div class="col-6">
        <div class="pl-5 pt-5 bg-light">
            <h3 class="text-danger font-weight-bold">Stages</h3>
            <br>
            <div  class="pl-5">
                <h5>Documentation</h5>
            <br>
            <h5>Consultant Assigned</h5>
            <br>
            <h5>Requirement Candidate</h5>
            <br>
            <h5>Interested Candidate</h5>
            <br>
            <h5>Candidate Finalize</h5>
            <br>
            <h5>Plan Initialized</h5>
            <br>
            <h5>After Support</h5>
            <br>
            </div>
            
        </div>
    
    </div>
    <div class="col">
        <img style="height:700px; width:650px;" src= "https://images.unsplash.com/photo-1554469384-e58fac16e23a?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8YnVpbGRpbmd8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format" />
    </div>
</div>
<%- include('partials/footer'); -%>