/* google fonts */
/* @import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap"); */
/*
body {
  margin: 20px 40px;
  font-size: 1.2rem;
  letter-spacing: 1px;
  background: #fafafa;
}
h1,
h2,
h3,
h4,
ul,
li,
a,
p,
input,
label,
button,
div,
footer,
td,
th {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
  color: #444;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 120px;
}
nav ul {
  display: flex;
  align-items: center;
}
nav li {
  margin-left: 20px;
}
nav li a {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8em;
  display: block;
  padding: 10px 16px;
  letter-spacing: 2px;
}
.btn {
  border-radius: 36px;
  background: #fee996;
}
form h2 {
  font-size: 2.4em;
  font-weight: 900;
  margin-bottom: 40px;
}
form {
  width: 360px;
  margin: 0 auto;
  padding: 30px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background: white;
}
input {
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid #ddd;
  font-size: 1em;
  width: 100%;
}
label {
  display: block;
  margin: 20px 0 10px;
}
button {
  margin-top: 30px;
  border-radius: 36px;
  background: #fee996;
  border: 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8em;
  display: block;
  padding: 10px 16px;
  letter-spacing: 2px;
}
.error {
  color: #ff0099;
  margin: 10px 2px;
  font-size: 0.8em;
  font-weight: bold;
}

.recipes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px;
  row-gap: 80px;
  margin: 80px AUTO;
  max-width: 1200px;
}
.recipe {
  display: inline-block;
  border-radius: 20px;
  background: white;
  position: relative;
  text-align: center;
  padding: 0 20px 30px 20px;
}
.recipe img {
  width: 100px;
  margin: -30px auto 20px;
}
footer {
  text-align: center;
  margin-top: 120px;
  color: #aaa;
}*/
.togglemain {
  display: grid;
  place-content: center;
  height: 10vh;
  background-color: #fefefe;
}
label {
  pointer-events: none;
}
label .input {
  display: none;
}
label .input:checked + .toggle-wrapper {
  box-shadow: 0 8px 14px 0 rgba(18, 51, 215, 0.12);
}
label .input:checked + .toggle-wrapper > .selector {
  left: calc(133% - 50px);
  background-color: #000000;
}
label .input:checked ~ .notification > .selected:before {
  content: "Vendor";
}
label .toggle-wrapper {
  position: relative;
  width: 60px;
  height: 30px;
  background-color: #eaeaea;
  border-radius: 999px;
  margin: auto;
  cursor: pointer;
  pointer-events: all;
  box-shadow: 0 8px 14px 0 rgba(215, 60, 18, 0.12);
}
label .toggle-wrapper .selector {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  background-color: #cc4242;
  transition: left 0.25s ease;
  border-radius: 50%;
}
label .notification {
  font-size: 15px;
  width: 100%;
}
label .notification .selected:before {
  content: "User";
  font-size: 15px;
  border-bottom: 2px solid;
}

.myform h2 {
  font-size: 2.4em;
  font-weight: 900;
  margin-bottom: 40px;
}
.myform {
  width: 360px;
  margin: 0 auto;
  padding: 30px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background: white;
}
.myform input {
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid #ddd;
  font-size: 1em;
  width: 100%;
}
.myform label {
  display: block;
  margin: 20px 0 10px;
}
.myform button {
  color: #fff;
  background-color: #cc4242;
  border-radius: 8px;
  text-align: right;
  letter-spacing: 0.5px;
  text-decoration: none;
  margin-right: 10px;
  line-height: 26px;
  display: inline-block;
  font-size: 16px;
}
.myform .error {
  color: #ff0099;
  margin: 10px 2px;
  font-size: 0.8em;
  font-weight: bold;
}

.fheader {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 12px;
}
.fheader ul {
  display: flex;
  align-items: center;
}
.fheader li {
  margin-left: 20px;
}
.fheader li a {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8em;
  display: block;
  padding: 10px 16px;
  letter-spacing: 2px;
}
.fheader ul {
  list-style-type: none;
}
.fheader a {
  text-decoration: none;
  color: #272727;
}
.btn {
  color: #fff;
  background-color: #cc4242;
  border-radius: 8px;
  text-align: right;
  letter-spacing: 0.5px;
  text-decoration: none;
  margin-right: 10px;
  line-height: 26px;
  display: inline-block;
  font-size: 16px;
}

.mainheader {
  margin: 0px 0px;
  font-size: 1.5rem;
  letter-spacing: 1px;
  background: #fafafa;
}
.mainheader h1,
h2,
h3,
h4,
ul,
li,
a,
p,
input,
label,
button,
div,
footer {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
  color: #444;
}
/*
.mainheader .btn {
  margin-top: 20px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 12px 18px;
  display: inline-block;
  font-size: 0.8em;
}*/
.Committeddesc {
  padding-left: 30px;
}
.truecontainer {
  padding-left: 30px;
}
.mainheader {
  padding-left: 60px;
  padding-right: 20px;
}
.text-danger {
  padding-left: 30px;
}
.coolReviews {
  padding-left: 0px;
}
.LatestProject {
  padding-left: 0px;
}
.font-weight-bold {
  padding-left: 30;
}
.footer {
  position: left;
  width: 100%;
  height: auto;
  padding: 0px 30px;
  background: rgb(253, 252, 252);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

footer .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}
font-weight-bol{
  font-weight:bold;
}
footer .container .sec {
  margin-right: 30px;
}
footer .container .sec.aboutus {
  width: 40%;
}
footer .container h2 {
  position: relative;
  color: rgb(13, 14, 13);
  font-weight: 200;
  margin-bottom: 10px;
}

footer .container h2:before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 50px;
  height: 2px;
  background: #f00;
}

footer p {
  color: rgb(13, 13, 14);
}

.sci {
  margin-top: 20px;
  display: flex;
}
.sci li {
  list-style: none;
}
.sci li a {
  display: inline-block;

  width: 40px;
  height: 40px;
  background: #f5f8f8;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.sci li a:hover {
  background: rgb(161, 157, 157);
}
.sci li a .fa {
  color: rgb(128, 24, 81);
  font-size: 5px;
}

.quickLinks {
  position: relative;
  width: 25%;
}
.quickLinks ul li {
  list-style: none;
}
.quickLinks ul li a {
  color: rgb(5, 5, 5);
  text-decoration: none;
  margin-bottom: 10px;
  display: inline-block;
}

.quickLinks ul li a:hover {
  color: rgb(240, 6, 6);
}
footer .container h2:before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 50px;
  height: 2px;
  background: #f00;
}

.contact .info {
  position: relative;
}
.contact .info li {
  display: flex;
}
.contact .info li span:nth-child(1) {
  color: rgb(153, 24, 125);
  font-size: 5px;
}
.contact .info li span {
  color: rgb(8, 8, 8);
}
.contact .info li a {
  color: rgb(8, 8, 8);
  text-decoration: none;
}
.contact .info li a:hover {
  color: rgb(231, 6, 6);
}
.copyrightText {
  width: 100%;
  background: #b8b1b1;
  padding: 8px 100px;
  text-align: center;
  color: rgb(12, 11, 11);
}
.slider {
  width: 100%;
  height: 630px;
  background-image: url("https://images.pexels.com/photos/3582128/pexels-photo-3582128.jpeg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}

.slider .title {
  width: 40%;
  height: auto;
  position: absolute;
  right: 0;
}

.slider .title h1 {
  font-size: 57px;
  color: #fff;
  line-height: 65px;
}
.slider .title h3 {
  color: #fff;
  line-height: 65px;
  font-weight: bolder;
}
.slider .title h1 span {
  color: #ff0000;
  font-weight: bolder;
}

.slider .title p {
  font-size: 20px;
  color: rgb(255, 255, 255);
  line-height: 1.5;
  margin-top: 15px;
  padding-right: 20px;
  font-weight: bolder;
}

.slider .title .btn {
  color: #fff;
  background-color: #cc4242;
  border-radius: 8px;
  padding: 16px 36px;
  text-align: right;
  letter-spacing: 0.5px;
  text-decoration: none;
  margin-right: 10px;
  line-height: 26px;
  display: inline-block;
  font-size: 16px;
  margin-top: 15px;
}
.slider .title .btn:hover {
  background-color: #fff;
  color: #272727;
}
.svg-content {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}
.svg {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

.education {
  --bg-color: #ffd861;
  --bg-color-light: #ffeeba;
  --text-color-hover: #4c5656;
  --box-shadow-color: rgba(255, 215, 97, 0.48);
}

.credentialing {
  --bg-color: #b8f9d3;
  --bg-color-light: #e2fced;
  --text-color-hover: #4c5656;
  --box-shadow-color: rgba(184, 249, 211, 0.48);
}

.wallet {
  --bg-color: #ceb2fc;
  --bg-color-light: #f0e7ff;
  --text-color-hover: #fff;
  --box-shadow-color: rgba(206, 178, 252, 0.48);
}

.human-resources {
  --bg-color: #dce9ff;
  --bg-color-light: #f1f7ff;
  --text-color-hover: #4c5656;
  --box-shadow-color: rgba(220, 233, 255, 0.48);
}



.circle {
  width: 131px;
  height: 131px;
  border-radius: 50%;
  background: rgb(241, 59, 59);
  border: 2px solid var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  transition: all 0.3s ease-out;
}

.circle:after {
  content: "";
  width: 118px;
  height: 118px;
  display: block;
  position: absolute;
  background: var(--bg-color);
  border-radius: 50%;
  top: 7px;
  left: 7px;
  transition: opacity 0.3s ease-out;
}

.circle svg {
  z-index: 10000;
  transform: translateZ(0);
}

.overlay {
  width: 118px;
  position: absolute;
  height: 118px;
  border-radius: 50%;
  background: var(--bg-color);
  top: 70px;
  left: 50px;
  z-index: 0;
  transition: transform 0.3s ease-out;
}
.containr {
  position: relative;
  width: 100%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.containr:hover .image {
  opacity: 0.3;
}

.containr:hover .middle {
  opacity: 1;
}

.text {
  background-color: #04aa6d;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
.bannerslider {
  width: 100%;
  height: 630px;
  background-image: url("https://images.pexels.com/photos/3582128/pexels-photo-3582128.jpeg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}

.bannerslider .title {
  width: 40%;
  height: auto;
  position: absolute;
  right: 0;
}

.bannerslider .title h1 {
  font-size: 57px;
  color: #fff;
  line-height: 65px;
}
.bannerslider .title h3 {
  color: #fff;
  line-height: 65px;
  font-weight: bolder;
}
.bannerslider .title h1 span {
  color: #ff0000;
  font-weight: bolder;
}

.bannerslider .title p {
  font-size: 20px;
  color: rgb(255, 255, 255);
  line-height: 1.5;
  margin-top: 15px;
  padding-right: 20px;
  font-weight: bolder;
}

.bannerslider .title .btn {
  color: #fff;
  background-color: #cc4242;
  border-radius: 8px;
  padding: 16px 36px;
  text-align: right;
  letter-spacing: 0.5px;
  text-decoration: none;
  margin-right: 10px;
  line-height: 26px;
  display: inline-block;
  font-size: 16px;
  margin-top: 15px;
}
.bannerslider .title .btn:hover {
  background-color: #fff;
  color: #272727;
}

.additional-form-control[type="text"] {
  border: 2px solid red;
  border-radius: 4px;
}

.additional-form-control[type="text"]:focus {
  outline: 2px solid white; /* oranges! yey */
}

.additional-textarea-form-control[type="text"]:focus {
  outline: 2px solid white; /* oranges! yey */
}

.additional-textarea-form-control {
  border: 2px solid red;
  border-radius: 4px;
}

.additional-form-select {
  border: 2px solid red;
  border-radius: 4px;
}

.additional-text-center {
  color: red;
}
